<html ng-app="ArtistsApp">

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/ui-bootstrap-tpls-0.14.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>

</head>

<body>
  <h1>Artists</h1>

  <div ng-controller="TableController">
    <table class="table table-hover">
      <tr>
        <th id="firstName" ng-click="sort('first_name')">First Name</th>
        <th id="lastName" ng-click="sort('last_name')">Last Name</th>
        <th>ID</th>
        <th>Email</th>
        <th>Location</th>
        <th id="createdAt">Date Created</th>
      </tr>
      <tr ng-repeat="artist in Artists.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy: filter :reverse ">

        <td>
          <img src="http://www.bucketfeet.com/{{artist.profile_image_url}}" height="50px" width="50px" alt="" />
        </td>
        <td>
          {{artist.first_name}}
        </td>
        <td>
          {{artist.last_name}}
        </td>
        <td>
          {{artist.artist_id}}
        </td>
        <td>
          {{artist.email}}
        </td>
        <td>
          {{artist.city}} {{artist.country}}
        </td>
        <td>
          {{artist.created_at}}
        </td>



      </tr>
    </table>

    <uib-pagination id="pagination" boundary-links="true" items-per-page="itemsPerPage" max-size="maxSize" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

  </div>

</body>

</html>
